/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/main.scss */
.bg_1 {
  background-color: #cd666a;
}

/* line 17, ../sass/main.scss */
html {
  overflow-x: hidden;
}

/* line 18, ../sass/main.scss */
a {
  text-decoration: none;
}
/* line 19, ../sass/main.scss */
a:hover {
  color: #d63e44;
}
/* line 20, ../sass/main.scss */
a:hover i {
  color: #d63e44;
}

/* line 23, ../sass/main.scss */
*:focus {
  outline: none;
}

/* line 24, ../sass/main.scss */
p {
  line-height: 24px;
  text-align-last: center;
}
@media all and (max-width: 475px) {
  /* line 24, ../sass/main.scss */
  p {
    line-height: 20px;
  }
}

/* line 25, ../sass/main.scss */
ul, li {
  line-height: 20px;
}

/* line 26, ../sass/main.scss */
* {
  font-family: 'OpenSansRegular', sans-serif;
  color: #412b3a;
}

/* line 27, ../sass/main.scss */
hr {
  width: 100%;
  border: 1px solid #d63e44;
}

/* line 28, ../sass/main.scss */
.w100 {
  width: 100%;
}

/* line 30, ../sass/main.scss */
.mar-t20 {
  margin-top: 20px;
}

/* line 31, ../sass/main.scss */
.mar-t100 {
  margin-top: 100px;
}

/* line 32, ../sass/main.scss */
.mar-t130 {
  margin-top: 130px;
}

/* line 33, ../sass/main.scss */
.mar-t150 {
  margin-top: 150px;
}

/* line 34, ../sass/main.scss */
.mar-t50_10-475 {
  margin-top: 50px;
}
@media all and (max-width: 475px) {
  /* line 34, ../sass/main.scss */
  .mar-t50_10-475 {
    margin-top: 10px;
  }
}

/* line 36, ../sass/main.scss */
.pad-t50_10-475 {
  padding-top: 50px;
}
@media all and (max-width: 475px) {
  /* line 36, ../sass/main.scss */
  .pad-t50_10-475 {
    padding-top: 10px;
  }
}

/* line 37, ../sass/main.scss */
.pad-r10 {
  padding-right: 10px;
}

/* line 38, ../sass/main.scss */
.pad-t20 {
  padding-top: 20px;
}

/* line 40, ../sass/main.scss */
h2 {
  font-family: 'OpenSansSemiBoldItalic';
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  padding: 20px;
}
@media all and (max-width: 475px) {
  /* line 40, ../sass/main.scss */
  h2 {
    font-size: 20px;
    padding: 10px;
  }
}

/* line 51, ../sass/main.scss */
.txt-cnt {
  text-align: center;
}

/* line 52, ../sass/main.scss */
.txt-jstf {
  text-align: justify;
}

/* line 53, ../sass/main.scss */
.font18 {
  font-size: 18px;
}

/* line 54, ../sass/main.scss */
.font24 {
  font-size: 24px;
}

/* line 55, ../sass/main.scss */
.font32 {
  font-size: 32px;
}

/* line 56, ../sass/main.scss */
.font36 {
  font-size: 36px;
}

/* line 57, ../sass/main.scss */
.font62 {
  font-size: 62px;
}

/* line 58, ../sass/main.scss */
.-u {
  text-transform: uppercase;
}

/* line 59, ../sass/main.scss */
.-b {
  font-weight: bold;
}

/* line 60, ../sass/main.scss */
.lh24 {
  line-height: 24px;
}

/* line 61, ../sass/main.scss */
.lh28 {
  line-height: 28px;
}

/* line 64, ../sass/main.scss */
ul {
  list-style: disc inside;
  margin: 0 10px;
  text-align: left;
}

/* line 65, ../sass/main.scss */
li span {
  margin-left: -20px;
}
